<div class="flex justify-between item-center mb-6">
    <h4 class="d-flex flex-row font-medium">Gallery</h4>
    <div class="d-flex flex-row-reverse">
        <div class="p-2">Kornix</div>
        <div class="p-2">Extra Pages</div>
        <div class="p-2">Gallery</div>
    </div>
</div>
<div class="row">
    <div class="d-flex justify-content-center ">
        <div class="p-3 bg-dark text-light ">All items</div>
        <div class="p-3 bg-dark text-light" >Design</div>
        <div class="p-3 bg-dark text-light ">Creative</div>
        <div class="p-3 bg-dark text-light">Digital</div>
        <div class="p-3 bg-dark text-light">Photography</div>

    </div>
    <div class="col-sm-11 m-5">
        <div class="card">
            <div class="d-flex card-header justify-content-center">
                <h3 class="font-weight-bold text-danger">Images</h3>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="card">
                        <img src="assets/images/gi1.jpg" alt="">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <img src="assets/images/gi2.jpg" alt="">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <img src="assets/images/gi3.jpg" alt="">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <img src="assets/images/gi4.jpg" alt="">
                    </div>
                </div>
         
                <div class="col-sm-3">
                    <div class="card">
                        <img src="assets/images/gi5.jpg" alt="">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <img src="assets/images/gi6.jpg" alt="">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <img src="assets/images/gi9.jpg" alt="">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <img src="assets/images/gi8.jpg" alt="">
                    </div>
                </div>
            
            </div>
            
        </div>
    </div>
</div>