<main class="flex-grow p-6">
    <div class="flex justify-content-between items-center mb-6">
        <div class="flex gap-3">
            <h4 class="text-slate-900 dark:text-slate-200 text-large font-medium fw-500">Dashboard</h4>
        </div>
        <!-- <div class="md:flex hidden items-center gap-2.5 text-sm font-semibold">
            <div class="flex items-center gap-2">
                <span class="text-sm font-medium text-slate-700 dark:text-slate-400">Konrix</span>
            </div>
            <div class="flex items-center gap-2">
                <mat-icon>></mat-icon>
                <span class="text-sm font-medium text-slate-700 dark:text-slate-400">Menu</span>
            </div>
            <div class="flex items-center gap-2">
                <mat-icon>></mat-icon>
                <span class="text-sm font-medium text-slate-700 dark:text-slate-400">Dashboard</span>
            </div>
        </div> -->
         
    </div>
    <div class="row">
        <div class="col-sm-3">
            <mat-card>
                <mat-card-title>Project Dashboard</mat-card-title>
                <mat-card-subtitle>New Task Assign</mat-card-subtitle>
                <mat-card-content>4 hours ago</mat-card-content>

            </mat-card>
        </div>
        <div class="col-sm-3">
            <mat-card>
                <mat-card-title>Admin Template</mat-card-title>
                <mat-card-subtitle>New Task Assign</mat-card-subtitle>
                <mat-card-content>2 hours ago</mat-card-content>

            </mat-card>
        </div>
        <div class="col-sm-3">
            <mat-card>
                <mat-card-title>Client Project</mat-card-title>
                <mat-card-subtitle>New Task Assign</mat-card-subtitle>
                <mat-card-content>3 hours ago</mat-card-content>

            </mat-card>
        </div>
        <div class="col-sm-3">
            <mat-card>
                <mat-card-title>Figma Design</mat-card-title>
                <mat-card-subtitle>New Task Assign</mat-card-subtitle>
                <mat-card-content>4 hours ago</mat-card-content>

            </mat-card>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Active Project</h5>
              <p class="card-text">Project Overview</p>
            <button mat-menu-item style="color:pink"><mat-icon style="color:pink">stars</mat-icon>Product Design</button>
            
            <button mat-menu-item style="color:blue" ><mat-icon style="color:blue" >stars</mat-icon>Web Development</button>
            <button mat-menu-item style="color:green"><mat-icon style="color:green">stars</mat-icon>Illestration Design</button>
            <button mat-menu-item style="color:orange"><mat-icon style="color:orange">stars</mat-icon>UI/UX Design</button>
            <button mat-menu-item style="color:red"><mat-icon style="color:red">stars</mat-icon>Product Design</button>
              
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <div class="flex item-center justify-between">
              <h3 class="card-title">Dialy Task</h3>
              <div class="mx-2 px-2">
                <select class="form-input form-select-sm">
                  <option selected>Today</option>
                  <option value="1">Yesterday</option>
                  <option value="2">Tomorrow</option>
                </select>
              </div>
            </div>
            <mat-divider></mat-divider>
              <div class="card  m-2">
                <ul class="flex items-center mb-2 gap-2" >
                <h4 class="card-title  ">Landing Page Design</h4>
                <h5 class="text-sm font-semibold">2 Hrs ago</h5>
               
              </ul>
              <p class="card-text   text-sm mb-1">Create a new landing page </p>
             
            </div>
            <div class="card  m-2">
              <ul class="flex items-start mb-2 gap-2" >
              <h4 class="card-title ">Admin Dashboard</h4>
              <h5 class="text-sm font-semibold">4 Hrs ago</h5>
              
            </ul>
            <p class="card-text text-sm gap-2">Create a new Admin dashboard</p>
          </div>
          <div class="card  m-2">
            <ul class="flex items-start mb-2 gap-2" >
            <h4 class="card-title ">Client work</h4>
            <h5 class="text-sm font-semibold">5 Hrs ago</h5>
            
          </ul>
          <p class="card-text text-sm gap-2">Create a new Power Project</p>
        </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <div class="flex item-center justify-between">
               <h3 class="card-title">Group Members</h3>
               <div class="px-4">
                <select class="form-input form-select-sm ">
                  <option selected>Active</option>
                  <option value="1">Offline</option>
                </select>

               </div>
              </div>
              <mat-divider></mat-divider>
              <div class="flex items-center">
                <img src="assets/images/m1.jpg" width="40px" height="40px" style="border-radius: 50%">
                <div class="w-full">
                  <h5 class="font-semibold">James Darwin</h5>
                  <div class="flex items-center " >UI/UX Designer</div>
                </div>
              </div>
              <div class="flex items-center">
                <img src="assets/images/m1.jpg" width="40px" height="40px" style="border-radius: 50%">
                <div class="w-full">
                  <h5 class="font-semibold">Arun David</h5>
                  <div class="flex items-center gap-2" >PHP Developer</div>
                </div>
              </div>
              <div class="flex items-center">
                <img src="assets/images/m1.jpg" width="40px" height="40px" style="border-radius: 50%">
                <div class="w-full">
                  <h5 class="font-semibold">Leo Tomn</h5>
                  <div class="flex items-center gap-2" >Frond end Developer</div>
                </div>
              </div>
              <div class="flex items-center">
                <img src="assets/images/m1.jpg" width="40px" height="40px" style="border-radius: 50%">
                <div class="w-full">
                  <h5 class="font-semibold">Thomas Isac</h5>
                  <div class="flex items-center gap-2" >Back end Developer</div>
                </div>
              </div>
              <div class="flex items-center">
                <img src="assets/images/m1.jpg" width="40px" height="40px" style="border-radius: 50%">
                <div class="w-full">
                  <h5 class="font-semibold">Darvin John</h5>
                  <div class="flex items-center gap-2" >Full stack Developer</div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      
      <div class="row mt-3">
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">An item</li>
                  <li class="list-group-item">A second item</li>
                  <li class="list-group-item">A third item</li>
                </ul>
                <div class="card-footer">
                  Card footer
                </div>
              </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">An item</li>
                  <li class="list-group-item">A second item</li>
                  <li class="list-group-item">A third item</li>
                </ul>
                <div class="card-footer">
                  Card footer
                </div>
              </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">An item</li>
                  <li class="list-group-item">A second item</li>
                  <li class="list-group-item">A third item</li>
                </ul>
                <div class="card-footer">
                  Card footer
                </div>
              </div>
        </div>
      </div>
    
</main> 
