<mat-nav-list>
    <div class="logo py-3 px-3">
        <img src="assets/images/logo.png" alt="" width="40%" >
    </div>
    <mat-divider></mat-divider>
    <h4 class="mat-subheader">Menu</h4>
    <a mat-list-item routerLink="./dashboard" routerLinkActive="list-item-active"><mat-icon>dashboard</mat-icon>Dashboard</a>
    <a mat-list-item routerLink="./calendar" routerLinkActive="list-item-active"><mat-icon>calendar_today</mat-icon>Calendar</a>
    <a mat-list-item routerLink="./tickets" routerLinkActive="list-item-active"><mat-icon>class</mat-icon>Tickets</a>
    <a mat-list-item routerLink="./folder" routerLinkActive="list-item-active"><mat-icon>folder</mat-icon>File Folder</a>
    <a mat-list-item routerLink="./kanban" routerLinkActive="list-item-active"><mat-icon>assignment</mat-icon>Kanban Board</a>
    <h4 class="mat-subheader">Custom</h4>
    <a mat-list-item routerLink="./authpages" routerLinkActive="list-item-active"><mat-icon>face</mat-icon>Auth Pages</a>
    <a mat-list-item routerLink="./extrapages" routerLinkActive="list-item-active"><mat-icon>pages</mat-icon>Extra Pages</a>
</mat-nav-list>
